
html, body{
    font-family: 'Jost', sans-serif;
}
/* pricing */

.pricing{
    padding: 75px 0;
}

.pricing-header h1{
    font-size: 25px;
    font-weight: 600;
    color: #f53626;
    
}

.pricing-header p{
    font-size: 40px;
    font-weight: 600;
}

.card-deck{
 margin-top: 48px;   

}

.card-body{
    padding: 3.5em 2.5em;
}
.card-body h1{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
    margin: 15px 0 20px;
}

.card_center .card-body{
    padding: 2em 2.5em 3.5em;
}
.pricing-card-title label{
    font-size: 25px;
    vertical-align: text-top;

}
.pricing-card-title span{
    font-size: 16px;
}

.card-header{
    border-bottom: none;

}

.card_center{
    margin: -45px 0 !important;
   
}

.card_center .card-header{
    padding: 3em 2.5em .5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card_center .card-header h2{
    color: #189A46;
    background: white;
    font-size: 15px;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}
.card_center .card-header h1{
    margin: 15px 0 20px;
    font-weight: 600 ;
}

.card_center .card-header{
    color: white;
    background: #189A46;
}

.card_center .card-header span{
    color: white;
}
.card-body h4{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold !important;
}



.card-body li {
    margin-bottom: 5px;
    padding-top: 6px;
    font-size: 18px;
    color: #696969;
}

.card-body button{
    color: white;
    background: #189A46;
    border-radius: 10px;
    transition: all 0.5s;  
    position: relative;
}
 /* Nutrition */
.nutrition{
  padding: 50px 0;
}
.nutrition .nutrition_body{
  padding: 20px;
}

.nutrition .img-fluid {
  position: relative;
  border-radius: 10px;
}

.nutrition .title_nutrition h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #f53626;
}

.nutrition .title_nutrition h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.nutrition .title_nutrition p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  padding-bottom: 40px;
}

.btn_open{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.3s;
    color: #189A46;
    position: absolute;
    top: 43%;
    left: 48.2%;
    outline: none;
}
.btn_open:hover{
  transform: scale(1.1);
  color: #189A46;
}

.btn_container{
  background: #189A46;
  width: 53px;
  height: 55px;
  position: absolute;
  top: 43%;
  left: 48.3%;
  border-radius: 50%;
  animation: rotate 1s linear infinite;

}

.modal-content{
display: inline;
background:none !important;
border: none;
}

.modal-content button{
position: absolute;
right: 0;
top: -510px;

}

.close{
  color: white;
}

.close:hover{
  color: white;
}


@keyframes rotate {
  0% {
        box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%);
     }
  100% {
        box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
      }

  /* 0%{
    transform: scale(0.5);
    opacity: 1;

  }

  75%{
    transform: scale(1.2);
    opacity: 0.5;

  }
  100% {
    transform: scale(1.5);
    opacity: 0.2;
  } */

}

/* Feedback */

.feedback .title_feedback h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #f53626;
}

.feedback .title_feedback h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 42px;
}


.feedback_top p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  margin: 0px 40px 10px;
}
.feedback_top span{
  font-size: 50px;
  color: #189A46;
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.feedback_bottom{
  margin: 0px 23px 10px;
}

.feedback .feedback_bottom{
  display: flex;
  padding-top: 5px;
}


.feedback .feedback_bottom img{
  width: 16%;
  height: 16%;
  border-radius: 50%;

}

.feedback .item{
  padding: 40px 25px;
  background: white;
  margin: 0 10px;
}

.feedback_infor{
  margin-left: 20px;
  line-height: 10px;
}

.feedback .feedback_infor h3{
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  line-height: 41px;
}

.feedback .feedback_infor p{
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
width: 30px;
height: 10px;
background: #189A46;
}

/* subscribe */
.subscribe_title{
  margin: 0 230px;
}

.subscribe_title h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;  
}

.subscribe_title p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.form_body{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;

}

.subscribe_body .btn{
  height: 60px;
  width: 29%;
  border-radius: 10px;
  font-size: 18px;
  background:#189A46;
  border-color: #189A46;
  color: white;
  transition: 0.5s;
} 

.subscribe_body .btn:hover{
  color: white;
  background-color: #116E32;
  border-color: #116E32;
}


.form-control{
  width: 254%;
  height: 60px;
  border-radius: 10px;
  border-color: #189A46;
}

.form-group input:focus{
  outline: none;
}

/* footer */
footer{
  background: black;
}

footer h3{
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

 footer nav li{
  list-style: none;
  color: #696969;
  margin-top: 5px;

 }

footer a{
  color: #696969;
  transition: 0.5s;
}

footer a:hover{
  color: white;
}

 footer nav ul{
  padding: 0;
 }

 .footer_icon{
  display: flex;
 }

 .footer_icon a{
  color: #696969;
  margin: 3px 18px 0 0;

 }

 footer .col-6 ul li span{
  font-weight: bolder;
 }

 .footer_bottom{
  color: #696969;
  font-size: 16px;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
 }

 .footer_bottom span{
  color: #f53626;
  font-weight: 300;
 }

 /* backtotop */
.backtotop{
  opacity: 0;
}
 .backtotop i{
  position: fixed;
    font-size: 18px;
    color: white;
    background: #189A46;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    right: 15px;
    bottom: 60px;
    transition: 0.5s;
 
 }

 .backtotop i:hover{
  transform: translateY(-10px);

 }

 .cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}

