
:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

[dark-mode="on"] {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

* {
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 19px;
    color: var(--font-color);
}

.preload {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-default {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    color: white;
    display: inline-block;
    background-color: var(--primary-color);
}

.btn-default.btn-bg-white {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid white;
}

.btn-default.bg-transparent {
    background-color: transparent;
    color: white;
}

.btn-default:hover {
    background-color: #066126;
    color: white;
    text-decoration: none;
}

.btn-default.btn-bg-white:hover {
    background: white !important;
    color: var(--primary-color);
}

.section__heading {
    text-align: center;
    max-width: 850px;
}

.section__heading h4 {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
}

.section__heading h1 {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-link {
    font-size: 17px;
    color: var(--heading-color);
    display: inline-block;
    position: relative;
    font-weight: 500;
    transition: .3s ease-in;

}

.btn-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.btn-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

.transform-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#popup-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#popup-video .small-dialog {
    width: 100%;
    max-width: 750px;
    margin: 40px auto;

}

#popup-video .small-dialog iframe {
    width: 100%;
    height: 400px;
    display: block;
}

#popup-video .mfp-close {
    color: #fff;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in;
    cursor: pointer;
}

.back-to-top i {
    color: white;
    line-height: 50px;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


header {
    padding: 15px 0;
    background: var(--bg-color);
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .5s;
}

header.onScroll {
    padding: 5px 0;
}

header .container .navbar {
    padding: 0;
    position: relative;
}

header .container .navbar .navbar-brand {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 34px;
}

header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item {
    background: transparent;
}

header .container .navbar .navbar-collapse .nav-link,
header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item span {
    color: var(--heading-color);
    position: relative;
    padding: 0;
    transition: all .5s;
    background-color: transparent;
}

header .container .navbar .navbar-collapse .nav-item.active .nav-link,
header .container .navbar .navbar-collapse .nav-item:hover .nav-link,
header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item:hover span {
    color: var(--primary-color);
}

header .container .navbar .navbar-collapse .nav-item {
    margin-right: 30px;
}

header .container .navbar .navbar-collapse .nav-item .nav-link:before,
header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    transform: scaleX(0);
    transition: all .5s;
    transform-origin: left;
}

header .container .navbar .navbar-collapse .nav-item:hover .nav-link:before,
header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item:hover span:before {
    transform: none;
}

header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu {
    padding: 0;
    border-radius: var(--border-radius);
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    transform: translate(-50px, 20px);
}

header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 10px 25px;
}

.toggle-dark-mode {
    cursor: pointer;
}

.toggle-dark-mode i {
    color: var(--font-color);
}

header .container .navbar .navbar-toggler {
    background-color: var(--primary-color);
    padding: 0;
}

header .container .navbar .navbar-toggler .navbar-toggler-icon {
    color: white;
    font-size: 25px;
    line-height: 1.5;
}



#carousel {
    position: relative;
}

.carousel__item {
    background: url(./img/banner1.jpg) center no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    width: 100%;
}

.carousel__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    opacity: .5;
    z-index: 0;
}

.carousel__item .container {
    height: 100%;
}

.carousel__item.item-2 {
    background: url(./img/banner2.jpg) no-repeat center;
    background-size: cover;
}

.carousel__item.item-3 {
    background: url(./img/banner1.jpg) no-repeat center;
    background-size: cover;
}

.carousel__item.item-4 {
    background: url(./img/banner1.jpg) no-repeat center;
    background-size: cover;
}

.carousel__item .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.carousel__item .carousel__content {
    position: relative;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.carousel__item.item-2 .carousel__content,
.carousel__item.item-4 .carousel__content {
    transform: translateX(50%);
}

.carousel__item .heading h1 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.carousel__item .heading p {
    color: #fff;
}

.carousel__item .carousel__content .btn__list {
    margin-top: 50px;
}
.carousel__item .carousel__content .btn__list .btn-default{
    margin-left: 10px;
}
#carousel .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

#carousel .carousel .slick-dots {
    bottom: 35px;
}

#carousel .carousel .slick-dots li button::before {
    display: none;
}

#carousel .carousel .slick-dots li {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 6px;
    margin: 0 8px;
}

#carousel .carousel .slick-dots li.slick-active,
#carousel .carousel .slick-dots li:hover {
    background-color: var(--primary-color);
    width: 35px;
}

#about {
    padding: 100px 0;
    background-color: var(--bg-color);
}

#about .container .row .btn-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



#service {
    padding: 100px 0;
    background-color: var(--bg-light);
}

.service__item {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    position: relative;
    margin-bottom: 30px;
}

.service__item:hover {
    background-color: var(--bg-light);
}

.service__item .icon i {
    color: var(--primary-color);
    font-size: 26px;
}

.service__item h3 {
    margin: 20px 0;
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 600;
}


#offer {
    padding: 100px 0;
    background-color: var(--bg-color);
}

#offer .container .row {
    align-items: center;
}

#offer img {
    width: 100%;
    border-radius: var(--border-radius);
}

#offer .section__heading {
    text-align: left;
}

#offer .section__heading p {
    font-size: 16px;
}

#offer .offer__list {
    margin-top: 40px;
    list-style: none;
}

#offer .offer__list li {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    margin-top: 15px;
}

#offer .offer__list li span {
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: var(--primary-color);
    display: inline-block;
    border-radius: 50%;
    background: var(--bg-light);
    margin-right: 10px;
}

#counter {
    padding: 60px 0;
    background-color: var(--primary-color);
}

#counter .counter__item {
    text-align: center;
}

#counter .counter__item .counter {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

#counter .counter__item h4 {
    font-size: 20px;
    color: white;
    opacity: .8;
}



@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0rem rgba(24, 154, 70, .2),
            0 0 0 .33rem rgba(24, 154, 70, .2),
            0 0 0 .66rem rgba(24, 154, 70, .2),
            0 0 0 1rem rgba(24, 154, 70, .2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(24, 154, 70, .2),
            0 0 0 .33rem rgba(24, 154, 70, .2),
            0 0 0 .66rem rgba(24, 154, 70, .2),
            0 0 0 1rem rgba(24, 154, 70, .2);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0rem rgba(24, 154, 70, .2),
            0 0 0 .33rem rgba(24, 154, 70, .2),
            0 0 0 .66rem rgba(24, 154, 70, .2),
            0 0 0 1rem rgba(24, 154, 70, .2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(24, 154, 70, .2),
            0 0 0 .33rem rgba(24, 154, 70, .2),
            0 0 0 .66rem rgba(24, 154, 70, .2),
            0 0 0 1rem rgba(24, 154, 70, .2);
    }
}


.pricing{
    background-color: var(--bg-light);
    padding: 75px 0;
    
}

.pricing-header h1{
    font-size: 25px;
    font-weight: 600;
    color: #f53626;
    
}

.pricing-header p{
    font-size: 40px;
    font-weight: 600;
}

.card-deck{
 margin-top: 48px;   

}

.card-body{
    padding: 3.5em 2.5em;
}
.card-body h1{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
    margin: 15px 0 20px;
}

.card_center .card-body{
    padding: 2em 2.5em 3.5em;
}
.pricing-card-title label{
    font-size: 25px;
    vertical-align: text-top;

}
.pricing-card-title span{
    font-size: 16px;
}

.card-header{
    border-bottom: none;

}

.card_center{
    margin: -45px 0 !important;
   
}

.card_center .card-header{
    padding: 3em 2.5em .5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card_center .card-header h2{
    color: #189A46;
    background: white;
    font-size: 15px;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}
.card_center .card-header h1{
    margin: 15px 0 20px;
    font-weight: 600 ;
}

.card_center .card-header{
    color: white;
    background: #189A46;
}

.card_center .card-header span{
    color: white;
}
.card-body h4{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold !important;
}



.card-body li {
    margin-bottom: 5px;
    padding-top: 6px;
    font-size: 18px;
    color: #696969;
}

.card-body button{
    color: white;
    background: #189A46;
    border-radius: 10px;
    transition: all 0.5s;  
    position: relative;
}
 /* Nutrition */
.nutrition{
  padding: 50px 0;
  background-color: var(--bg-light);
}
.nutrition .nutrition_body{
  padding: 20px;
}

.nutrition .img-fluid {
  position: relative;
  border-radius: 10px;
}

.nutrition .title_nutrition h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #f53626;
}

.nutrition .title_nutrition h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.nutrition .title_nutrition p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  padding-bottom: 40px;
}

.btn_open{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.3s;
    color: #189A46;
    position: absolute;
    top: 43%;
    left: 48.2%;
    outline: none;
}
.btn_open:hover{
  transform: scale(1.1);
  color: #189A46;
}

.btn_container{
  background: #189A46;
  width: 53px;
  height: 55px;
  position: absolute;
  top: 43%;
  left: 48.3%;
  border-radius: 50%;
  animation: rotate 1s linear infinite;

}

.modal-content{
display: inline;
background:none !important;
border: none;
}

.modal-content button{
position: absolute;
right: 0;
top: -510px;

}

.close{
  color: white;
}

.close:hover{
  color: white;
}


@keyframes rotate {
  0% {
        box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%);
     }
  100% {
        box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
      }

  /* 0%{
    transform: scale(0.5);
    opacity: 1;

  }

  75%{
    transform: scale(1.2);
    opacity: 0.5;

  }
  100% {
    transform: scale(1.5);
    opacity: 0.2;
  } */

}

.feedback{
    background-color: var(--bg-light);
}

.feedback .title_feedback h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #f53626;
}

.feedback .title_feedback h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 42px;
}


.feedback_top p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  margin: 0px 40px 10px;
}
.feedback_top span{
  font-size: 50px;
  color: #189A46;
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.feedback_bottom{
  margin: 0px 23px 10px;
}

.feedback .feedback_bottom{
  display: flex;
  padding-top: 5px;
}


.feedback .feedback_bottom img{
  width: 16%;
  height: 16%;
  border-radius: 50%;

}

.feedback .item{
  padding: 40px 25px;
  background: white;
  margin: 0 10px;
}

.feedback_infor{
  margin-left: 20px;
  line-height: 10px;
}

.feedback .feedback_infor h3{
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  line-height: 41px;
}

.feedback .feedback_infor p{
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
width: 30px;
height: 10px;
background: #189A46;
}

.subscribe {
    background-color: var(--bg-light);
}

.subscribe_title{
  margin: 0 230px;
}

.subscribe_title h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;  
}

.subscribe_title p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.form_body{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;

}

.subscribe_body .btn{
  height: 60px;
  width: 29%;
  border-radius: 10px;
  font-size: 18px;
  background:#189A46;
  border-color: #189A46;
  color: white;
  transition: 0.5s;
} 

.subscribe_body .btn:hover{
  color: white;
  background-color: #116E32;
  border-color: #116E32;
}


.form-control{
  width: 254%;
  height: 60px;
  border-radius: 10px;
  border-color: #189A46;
}

.form-group input:focus{
  outline: none;
}


footer{
    background-color: var(--bg-light);
  background: black;
}

footer h3{
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

 footer nav li{
  list-style: none;
  color: #696969;
  margin-top: 5px;

 }

footer a{
  color: #696969;
  transition: 0.5s;
}

footer a:hover{
  color: white;
}

 footer nav ul{
  padding: 0;
 }

 .footer_icon{
  display: flex;
 }

 .footer_icon a{
  color: #696969;
  margin: 3px 18px 0 0;

 }

 footer .col-6 ul li span{
  font-weight: bolder;
 }

 .footer_bottom{
  color: #696969;
  font-size: 16px;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
 }

 .footer_bottom span{
  color: #f53626;
  font-weight: 300;
 }

 /* backtotop */
.backtotop{
  opacity: 0;
}
 .backtotop i{
  position: fixed;
    font-size: 18px;
    color: white;
    background: #189A46;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    right: 15px;
    bottom: 60px;
    transition: 0.5s;
 
 }

 .backtotop i:hover{
  transform: translateY(-10px);

 }

 .cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}


@media (max-width: 1200px) {

   
    header {
        padding: 5px 0;
    }

    header.onScroll {
        padding: 0;
    }

    header .container .navbar .navbar-collapse .nav-item .nav-link:before,
    header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu .dropdown-item span:before {
        display: none;
    }

    header .container .navbar .navbar-nav {
        width: 100%;
        margin-bottom: 10px;
    }

    header .container .navbar .navbar-nav .nav-item {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    header .container .navbar .navbar-nav .nav-item .nav-link {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    header .container .navbar .navbar-collapse .nav-item.dropdown .dropdown-menu {
        transform: translate(0, 10px);
    }

    header .container .navbar .navbar-collapse .nav-item.dropdown.dropdown-menu:before {
        transform: translateX(0) rotateZ(45deg);
    }

    header .dropdown-menu .dropdown-item {
        text-align: center !important;
    }

    header .toggle-dark-mode {
        position: absolute;
        margin: 20px 0;
        display: inline-block;
        right: 60px;
        top: 0;
        z-index: 2;
    }


    .carousel__item .heading h1 {
        font-size: 52px;
        line-height: 1.1;
        font-weight: 600;
    }

    .carousel__item .heading p {
        font-size: 15px;
    }

    
}

@media (max-width: 992px) {

   
    .section__heading h1 {
        font-size: 35px;
    }

    .carousel__item.item-2 .carousel__content,
    .carousel__item.item-4 .carousel__content {
        transform: none;
    }


    #offer img {
        margin-bottom: 50px;
    }

    #counter {
        padding: 10px 0 60px 0;
    }

    #counter .counter__item {
        margin-top: 50px;
    }

    #counter .counter__item .counter {
        font-size: 40px;
    }

    #counter .counter__item h4 {
        font-size: 18px;
    }


}

@media (max-width: 768px) {

    .carousel__item {
        min-height: 580px;
        height: 580px;
    }

    #about {
        padding: 70px 0;
    }


    #service {
        padding: 50px 0;
    }


    #offer {
        padding: 60px 0;
    }

    #counter .counter__item .counter {
        font-size: 35px;
    }

    #counter .counter__item h4 {
        font-size: 17px;
    }



    
}

@media (max-width: 576px) {

    .section__heading h1 {
        font-size: 32px;
    }

    header .container .navbar .navbar-brand {
        font-size: 30px;
    }


    .carousel__item {
        min-height: 530px;
        height: 530px;
    }

    .carousel__item .heading h1 {
        font-size: 42px;
    }

    .carousel__item .carousel__content .btn__list {
        margin-top: 30px;
    }



    

}

@media (max-width:376px) {


    .section__heading h1 {
        font-size: 27px;
    }

    .carousel__item .heading h1 {
        font-size: 32px;
    }

    .carousel__item .carousel__content .btn__list .btn-default {
        margin-bottom: 10px;
    }


}

